.navbar{
  display: flex;
  justify-content: space-around;
  background-color: brown;
  color: white;
}
.navDiv{
  position: relative;
}

.itemsIcon{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.ItemsDiv{
  background-color: white;
  color: black;
  width: 20px;
  text-align: center;
  border-radius: 50%;
}
.cart{
  text-align: center;
}
.clearBtn{
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: brown;
  color: white;
}
img{
  width: 50%;
}
.cartItem{
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;
}
.cartInfo{
  text-align: right;
}
.cartquantitybtn{
  border: none;
  background-color: white;
}
.cartquantity{
  margin: right;
}
.cartdeletebtn{
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: brown;
  color: white;
  margin-top: 50px
}
